<li
  [ngClass]="{
    'list-group-item': true,
    'list-group-item-success': appareilStatus === 'allumé',
    'list-group-item-danger': appareilStatus === 'éteint'
  }"
>
  <h4 [ngStyle]="{ color: getColor() }">
    Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}
  </h4>
  <!-- <input type="text" class="form-control" [(ngModel)]="appareilName" />-->
  <a [routerLink]="[id]"> Détails </a>

  <button
    class="btn btn-sm btn-success"
    *ngIf="appareilStatus === 'éteint'"
    (click)="onSwitch()"
  >
    Allumer
  </button>

  <button
    class="btn btn-sm btn-danger"
    *ngIf="appareilStatus === 'allumé'"
    (click)="onSwitch()"
  >
    Éteindre
  </button>
</li>
